/*
The CSS export should solely be used as a reference.
For a more detailed animation export the JSON file should be used.
*/
#Leaf_Left_Top {
    transform: translateX(-50%) translateY(-50%);
    animation: Leaf_Left_Top__rotation__1 486ms 0ms ease-in-out forwards;
}

@keyframes Leaf_Left_Top__rotation__1 {
    from {
        transform: translateX(-50%) translateY(-50%) rotate(0.1066deg);
    }

    to {
        transform: translateX(-50%) translateY(-50%) rotate(0.1066deg);
    }
}

#Leaf {
    transform: translateX(-50%) translateY(-50%);
    animation: Leaf__rotation__1 0ms 0ms ease-in-out forwards, Leaf__rotation__2 687ms 0ms ease-in-out forwards;
}

@keyframes Leaf__rotation__1 {
    from {
        transform: translateX(-50%) translateY(-50%) rotate(46deg);
    }

    to {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }
}
@keyframes Leaf__rotation__2 {
    from {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }

    to {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
}

#Leaf_Left_Bottom {
    transform: translateX(-50%) translateY(-50%);
    animation: Leaf_Left_Bottom__rotation__1 556ms 0ms linear forwards;
}

@keyframes Leaf_Left_Bottom__rotation__1 {
    from {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }

    to {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
}

#Leaf_Right_Bottom {
    transform: translateX(-50%) translateY(-50%);
    animation: Leaf_Right_Bottom__rotation__1 182ms 0ms ease-in-out forwards, Leaf_Right_Bottom__rotation__2 104ms 182ms ease-in-out forwards, Leaf_Right_Bottom__rotation__3 201ms 286ms ease-in-out forwards;
}

@keyframes Leaf_Right_Bottom__rotation__1 {
    from {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }

    to {
        transform: translateX(-50%) translateY(-50%) rotate(40deg);
    }
}
@keyframes Leaf_Right_Bottom__rotation__2 {
    from {
        transform: translateX(-50%) translateY(-50%) rotate(40deg);
    }

    to {
        transform: translateX(-50%) translateY(-50%) rotate(40deg);
    }
}
@keyframes Leaf_Right_Bottom__rotation__3 {
    from {
        transform: translateX(-50%) translateY(-50%) rotate(40deg);
    }

    to {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
}

#Pie_Chart_Bottom {
    transform: translateX(-50%) translateY(-50%);
    animation: Pie_Chart_Bottom__rotation__1 514ms 0ms ease-in-out forwards;
}

@keyframes Pie_Chart_Bottom__rotation__1 {
    from {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }

    to {
        transform: translateX(-50%) translateY(-50%) rotate(361deg);
    }
}

#Image_Top {
    transform: translateX(-50%) translateY(-50%);
    animation: Image_Top__x__1 524ms 0ms ease-in-out forwards, Image_Top__y__1 495ms 0ms ease-in-out forwards;
}

@keyframes Image_Top__x__1 {
    from {
        left: 120px;
    }

    to {
        left: 95.5px;
    }
}
@keyframes Image_Top__y__1 {
    from {
        top: 36.5px;
    }

    to {
        top: 30px;
    }
}

#Back_Arm {
    transform: translateX(-50%) translateY(-50%);
    animation: Back_Arm__x__1 149ms 0ms ease-in-out forwards, Back_Arm__y__1 122ms 0ms ease-in-out forwards;
}

@keyframes Back_Arm__x__1 {
    from {
        left: 88.466px;
    }

    to {
        left: 100px;
    }
}
@keyframes Back_Arm__y__1 {
    from {
        top: -19.6789px;
    }

    to {
        top: -24px;
    }
}

#Front_Arm {
    transform: translateX(-50%) translateY(-50%);
    animation: Front_Arm__x__1 403ms 0ms linear forwards, Front_Arm__x__2 135ms 403ms ease-in-out forwards;
}

@keyframes Front_Arm__x__1 {
    from {
        left: 73.0313px;
    }

    to {
        left: 73.0313px;
    }
}
@keyframes Front_Arm__x__2 {
    from {
        left: 73.0313px;
    }

    to {
        left: 71px;
    }
}
