//font
$urbanist: Urbanist, sans-serif;

//palette
$white: #fcfffd;
$lime: #abff4f;
$cyan: #06d6a0;
$teal: #6092be;
$dark: #064874;
$dye: #04314e;
$indigo: #03243a;
$black: #011627;

$yellow: #fbff12;
$blue: #5cd3ff;
$pink: #ff66d8;
$green: #2cf6b3;
