@use 'base';

.hero {
  width: 100%;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 100vh;

  .hero-content {
    margin-right: 5rem;

    .hero-intro {
      font-size: 1.6rem;
      font-weight: 600;
      color: base.$cyan;
      line-height: 2rem;

      .hero-intro-span {
        color: base.$lime;
      }
    }

    .hero-text {
      font-size: 4rem;
      font-weight: 600;
      color: base.$cyan;
      margin-bottom: 5rem;
      line-height: 4.2rem;
      .hero-brand-span {
        color: base.$lime;
      }
    }

    .hero-cta {
      padding: 1.5rem 5rem;
      color: base.$lime;
      background-color: base.$indigo;
      outline: none;
      border: none;
      cursor: pointer;
      font-size: 1.3rem;
      letter-spacing: 0.1rem;
      border-radius: 0.4rem;
      font-weight: 500;

      &:hover {
        background-color: base.$dye;
      }
    }
  }
}
