@use 'base';

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin link {
  text-decoration: none;
  cursor: pointer;
  color: base.$lime;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
}

.nav {
  @include flex-center;
  background-color: base.$black;
  padding: 0 5rem;
  height: 100px;
  position: sticky;
  z-index: 100;
  top: 0;

  .nav-logo {
    @include link;
  }

  .nav-links {
    @include flex-center;

    .nav-link {
      @include link;
      margin: 2rem 1rem;
    }
  }
}
